<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<title><%- name -%></title>
<body>
<h1><%- name -%></h1>
<p><%- para1 -%></p>
<p><%- para2 -%></p>
</body>
</html>
