

<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Michaelsoft is a professional orginization</h1>
    <p>Welcome to Michaelsoft! Every day we strive to create more product and put more of our product in your hands!</p>
    <p id="one"></p>

</body>
</div>





<script>

function changeBodyBg(image) {
  document.body.style.background = image;
}


</script>

<div>
  <label>Change Webpage Background To:</label>
  <button type="button" onClick=changeBodyBg('Red')>Change Background-Red</button>
    <button type="button" onClick=changeBodyBg('Blue')>Change Background-Blue</button>
      <button type="button" onClick=changeBodyBg('Skyblue')>Change Background-Skyblue</button>
</div>



</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
