<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Michaelsoft is a professional orginization</h1>
    <p>Welcome to Michaelsoft! Every day we strive to create more product and put more of our product in your hands!</p>

    <h2>Members</h2>
    <p><%= tagline %></p>
    <a href="views/pages/static/trey.html">Trey Floto</a> <br>
    <a href="views/static/parker.html">Parker Fink</a> <br>
    <a href="views/static/leniece.html">Leniece Bennett</a> <br>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
