<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>
<title>Parker Fink</title>
<body>
  <h1>Parker Fink</h1>
  <p>🎓Programming Student at YorkTech</p>
  <p>I know a little bit of python, and am currently learning javascript.I am open to learning new programming languages. </p>
</body>
</html>
