<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="styles.css">
</head>
<body class="container">

<header>
  <h2>Variable</h2>
  <p><%= name =%></p>
</header>

<main>

</body>
</script>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
