<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Our teammembers are important.</h1>
    <p>we assure you</p>

    <h2>Trey Floto</h2>
    <p>🎓Programming student, class of 2023</p>
    <p>🔧Future software engineer.</p>
    </br>
    <p>Music and audio enthusiast. Technology & open-source enthusiast. Car enthusiast. Sci-fi enthusiast. Forward thinker. My specialties include managing people, and committing to work. In my career, make enough money to sustain me. </p>

    <h2>Parker Fink</h2>
    <p>🎓Programming Student at YorkTech</p>
    <p>I know a little bit of python, and am currently learning javascript.I am open to learning new programming languages. </p>

    <h2>Leniece Bennett</h2>
    <p>🎮Future game developer🎓 Programming student, YTECH. ‘22, Game Development, FSU. ‘26</p>
    </br>
    <p>Rhythm game enthusiast, Currently learning Javascript, open to learning many other programming languages!</p>
    <h2>Logan Hiller</h2>
    <p> Logan whatshisface was born in like 2004 or something. He was a student at York County School of Technology, and made it to Sophomore year.</p>
</br>
    <p>Logan was an okayish man. He died the way he lived. Quietly. He existed, and then he was gone. Just like that. Bam! He even left his 2021-22 year agenda on his desk. This is so tragic.</p>
  </br>
    <p>2004(?)-September 2021.</p>
 </p>

</body>
</script>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
