<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
<body>
<title>Trey Floto</title>
<h1>Trey Floto</h1>
<p>🎓Programming student, class of 2023</p>
<p>🔧Future software engineer.</p>
<p> </p>
<p>Music and audio enthusiast. Technology & open-source enthusiast. Car enthusiast. Sci-fi enthusiast. Forward thinker.<br>
  My specialties include managing people, and committing to work. In my career, make enough money to sustain me.</p>
</body>
</html>
